extends layout
block vars
 - var title = "Adda-Topic"
block headcontent
 script(type= "text/javascript" src= "/javascript/load-comment.js")
block content
 h1 WELCOME TO TOPIC
 h2 TOPIC : #{details.name}
 p 
  a(href="/dashboard") dashboard
  |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  a(href="/logout") logout
 div
  h3
   span
    | name: #{adminName} &nbsp;&nbsp;&nbsp;
    | start-time: #{details.start_time} &nbsp;&nbsp;&nbsp;
    | close-time : #{details.end_time}
   h4 description: #{details.description}
  input(type = "submit" id = "action" value = "join")
  div(class = "commentHolder" id = "commentHolder")
   input(type = "submit" id = "load" class = "load-button" value = "load complete")
   div(id = "comment" class = "comment")
    //- div(id = "showAllComments" class = "showAllComments")
    each post in posts
     div 
       p Name : #{post.userId}
       p Date: #{post.time}
       p Comment: #{post.comment}
       <hr></hr>

   form(action = "/postComment/#{posts.id}" method = "POST")
    span
     input(type = "text" class = "inputBox" name ="comment" placeholder = "My current comment............")
     input(type = "submit" id = "post" class = "post" value = "submit")
  