extends layout
block vars
 - var title = "Adda-Topic"
 - var flag = action.action
 - var end = details.end_time
block headcontent
 script(type= "text/javascript" src= "/javascript/load-comment.js")
 script(type= "text/javascript" src= "/javascript/userActions.js")
block content
 h1 WELCOME TO TOPIC
 h2 TOPIC : #{details.name}
 p 
  a(href="/dashboard") dashboard
  |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  a(href="/logout") logout
 div
  h3
   span
    | name: #{adminName} &nbsp;&nbsp;&nbsp;
    | start-time: #{details.start_time} &nbsp;&nbsp;&nbsp;
    if end
     | close-time : #{details.end_time}
   h4 description: #{details.description}
   if flag == null && !end
    span
     h3 click to &nbsp;
      input(type = "submit" id = "join" value = "join" onclick = "joinTopic(#{action.userId}, #{action.topicId}, #{action.action})")
   if flag == 1 && !details.end_time
    span
     h3 click to &nbsp;
      input(type = "submit" id = "close" value = "close" onclick = "joinTopic(#{action.userId}, #{action.topicId}, #{action.action})")
   if flag == 2 && !details.end_time
    span
     h3 click to &nbsp;
      input(type = "submit" id = "leave" value = "leave" onclick = "joinTopic(#{action.userId}, #{action.topicId}, #{action.action})")
   if flag == 0 || details.end_time
    h4 closed
  div(class = "commentHolder" id = "commentHolder")
   input(type = "submit" id = "load" class = "load-button" value = "load complete")
   div(id = "comment" class = "comment")
    //- div(id = "showAllComments" class = "showAllComments")
    each post in posts
     div 
       p Name : #{post.userId}
       p Date: #{post.time}
       p Comment: #{post.comment}
       <hr></hr>
   if flag == null && !end
    h3 need to join the topic
   else if flag == 2 || flag == 1 || !end
    div(id="comments")
     span
      input(type = "text" id = "msg" class = "inputBox" name ="comment" placeholder = "My current comment............")
      input(type = "submit" id = "post" class = "post" value = "submit" onclick = "onPost(#{posts.id})")